/* Styles */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
    --primary-colour: #6813B3
}

body {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    padding: 2em 0;
    font-family: sans-serif;
    color: var(--primary-colour);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0 8%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.hero-text h1 {
    font-weight: 800;
    margin: 0 0 1em 0;
}

form {
    width: 100%;
}

.form-section div {
    margin-bottom: 2em;
    position: relative;
}

.form-field-icon {
    position: absolute;
    right: 10px;
    top: 20%;
}

.form-section {
    width: 100%;
    display: flex;
    gap: 6%;
    align-items: center;
    justify-content: space-between;

}

.form-field {
    padding: 9px 5px 9px 1em;
    width: 45%;
    min-width: 40vw;
    max-width: 45%;
    margin: 0 0 5px 0;
    height: 4em;
    background-color: #F4E6FF;
    border: none;
    border-radius: 5px;
}

::placeholder {
    color: #BCA6E2;
}

#select-field {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

p.error {
    color: red;
    display: none;
}


select:disabled {
    color: #BCA6E2;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
}

button {
    margin-top: 2em;
    color: white;
    background-color: var(--primary-colour);
    height: 4em;
    padding: 2px 9em;
    border-radius: 9px;
    border: none;
    font-weight: 600;
}